.MainAreaBox{
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    height: 100vh;
    flex: 1;
    background-color: rgb(223, 223, 223);
}
.MainAreaBoxInner{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.LeftSection{
    flex-direction: column;
    flex: 0.4;

}
.LeftSectionInner{
    flex-direction: column;
    flex: 1;

}
.LeftDocumentImage{
    border: 2px dotted;
    width: 450px;
    height: 450px;
    margin: 1rem;
    overflow:hidden;
    margin-left: 1rem;
}

.LeftDocumentImage img {
    width: 100%;
}

.RightSection{
    background-color: #fff;
}

.RightSectionInner{
    flex-direction: column;
    flex: 1;

}

.ImageButtons{
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}

.custom-file-input::-webkit-file-upload-button {
    display: none;
  }
  .custom-file-input::before {
    content: 'Upload A PDF';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border-right: 1px solid #999;
    margin-right: 5px;
    /* border-radius: 3px; */
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }