* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;

}
.navbar {
    /* height: 9vh; */
    background: #1e1e2d;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-logo {
    color: whitesmoke;
    text-decoration: none;
    font-size: 96%;
    display: flex;
    align-items: center;
    /* width: ; */
    justify-content: space-between;
    height: 70px;
    margin-left: 1rem;
  }

  .nav-title {
    width: 200px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
  }
  
  img{
    width:30%;
  }
  .nav-items {
    width: 65vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  
  .nav-item {
    list-style: none;
    margin-left: 2rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s all ease-out;
  }
  
  .nav-item a:hover {
    background: tomato;
  }
  
  .nav-item a span {
    margin-left: 0.7rem;
    font-size: 1.3rem;
  }