  
 
  .sidebar-toggle {
    width: 65vw;
    display: flex;
    justify-content: flex-end;
  }
  
  .sidebar-toggle-logo {
    font-size: 2.3rem;
    color: whitesmoke;
    cursor: pointer;
  }
  
  .sidebar {
    width: 4rem;
    background: #1b1919;
    height: 100vh;
    position: absolute;
    /* top: 6.2vh; */
    /* left: -100%; */
    margin-left: -10px;
    padding-right: 15px;
    transition: 0.3s all ease-in-out;
  }
  
  .sidebar.active {
    left: 0;
    background:  #1e1e2d;
  }
  
  .sidebar-items {
    
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.2s all ease-out;
  }
  
  .sidebar-item {
    list-style: none;
    margin-top: 1rem;
    width: 120%;
    height: 3rem;
    margin: 5px;
  }
  
  .sidebar-item a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all ease-out;
    margin: 2px;
  }
  
  .sidebar-item a span {
    margin-left: 1.5rem;
    font-size: 1.4rem;
  }
  
  .sidebar-item a:hover {
    /* background: black; */
    width: 120%;
  }
  
  .sidebar .btn {
    margin-top: 2.4rem;
    width: 100%;
  }
  
  @media screen and (max-width: 900px) {
    .sidebar.active {
      width: 5rem;
    }
  
    .sidebar-item a span {
      display: none;
    }
  }